{% extends 'base.html' %}

{% block title %}
Market Page
{% endblock %}

{% block content %}
<!-- Header Section -->
<div class="container mt-5">
  <h1 class="display-4 text-center animate__animated animate__fadeInUp">Shop Page</h1>
  <p class="lead text-center">Browse our selection of products and find what you need.</p>
</div>

<!-- Product Table -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="animate__animated animate__fadeInUp">Available Items</h2>
      <p class="animate__animated animate__fadeInUp">Start buying</p>
      
      <table class="table table-hover table-striped mt-4 animate__animated animate__fadeIn">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Barcode</th>
            <th scope="col">Price</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.barcode }}</td>
              <td>${{ item.price }}</td>
              <td>
                <button class="btn btn-info btn-sm animate__animated animate__fadeInLeft" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                <button class="btn btn-success btn-sm animate__animated animate__fadeInRight" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Buy</button>
              </td>
            </tr>
            {% include 'includes/items_modals.html' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2 class="animate__animated animate__fadeInUp">Owned Items</h2>
      <p class="animate__animated animate__fadeInUp">Sell the item to put it back on the market</p>
      <!-- You can add your owned items section here -->
    </div>
  </div>
</div>
{% endblock %}
